[package]
name = "quickcfg"
version = "0.4.0"
authors = ["John-John Tedro <udoprog@tedro.se>"]
license = "MIT/Apache-2.0"
categories = ["command-line-utilities"]
documentation = "https://docs.rs/udoprog/quickcfg"
homepage = "https://github.com/udoprog/quickcfg"
repository = "https://github.com/udoprog/quickcfg"
readme = "README.md"
edition = "2018"

description = """
Do basic configuration of a system, declaratively and quickly.
"""

[[bin]]
name = "qc"
path = "src/main.rs"

[badges]
travis-ci = { repository = "udoprog/quickcfg" }

[dependencies]
serde = { version = "1.0.117", features = ["derive"] }
serde_yaml = "0.8.14"
anyhow = "1.0.33"
thiserror = "1.0.21"
relative-path = { version = "1.3.2", features = ["serde"] }
clap = "2.33.3"
rayon = "1.5.0"
ignore = "0.4.16"
log = "0.4.11"
pretty_env_logger = "0.4.0"
handlebars = "3.5.1"
directories = "3.0.1"
fxhash = "0.2.1"
humantime = "2.0.1"
reqwest = { version = "0.10.8", features = ["blocking"] }
filetime = "0.2.12"
git2 = { version = "0.13.12", optional = true }

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", features = ["shellapi", "winuser", "synchapi", "processthreadsapi"] }

[target.'cfg(windows)'.build-dependencies]
winres = "0.1.11"

[features]
default = []
